.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.birthday{
  text-align: center;
  
  color: #17321b;
  background:url('./Components/assets/Keerthana.png');
  padding: 250px;
  cursor: pointer;
  background-repeat:no-repeat ;
  font-family:cursive;
  
}


.keerthi{
  background-color: transparent;
  padding: 10px 10px;
  border-radius: 10px;
  color: rgb(19, 140, 192);
}
h1{
  animation-duration:1s;
  animation-name:slideout;
}

@keyframes slideout {
  from {
    margin-left: 100%;
    width: 20%;
  }

  to {
    margin-right: 0%;
    width: 20%;
  }
}